.launches {
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
  overflow: hidden;
}
.launch{
  padding: 8px 16px;
  border-top: 1px solid #ccc;
}

.more-info{
  display: flex;
  justify-content: space-between;
  font-size: 12px;

}

.more-info .header{
  font-weight: bold;
  color: dodgerblue;
}
.more-info>div{
  display: flex;
  flex-direction: column;
}

.agency{
  flex: 1 1 auto;
  padding: 0 8px;
}