<app-launches-counter [counter]="launches.length"></app-launches-counter>
<div class="launches" *ngIf="launches.length>0; else nolaunches">
  <div class="launch" *ngFor="let launch of launches">
    <div>{{launch.name}}</div>
    <div class="more-info">
      <div>
        <div class="header">Tipos de mision</div>
        <div *ngIf="launch.missions.length==0">Sin Misiones</div>
        <div *ngFor="let mission of launch.missions">
          {{mission.typeName}}
        </div>
      </div>
      <div class="agency">
        <div class="header">Agencias</div>
        <ng-container *ngFor="let mission of launch.missions">
          <div *ngFor="let agency of mission.agencies">(Mision) {{agency.name}} </div>
        </ng-container>
        <div *ngFor="let agency of launch.rocket.agencies">
          (Rocket) {{agency.name}}
        </div>
      </div>
      <div>
        <div class="header">Estado</div>
        <div>
          {{getLaunchStatusFromId(launch.status).name}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #nolaunches>
  <div class="no-launches">No se han encontrado lanzamientos</div>
</ng-template>